header {
	background-color: #f5fffd;
	padding: 10px 0;
	position: sticky;
	top: 0;
	z-index: 999;
	width: 100%;
}
.container {
	width: 100%;
	margin: 0 auto;
}

/* .header-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
} */

.row {
	display: flex;
	flex-wrap: wrap;/*不换行*/
	justify-content: space-evenly;/*水平平均分布对齐*/
}

.align-self-center {
	align-self: center !important;
	padding-inline: 10px;
}

.header-logo img {
	width: 120px;
}

.main-menu {
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.main-menu >ul:first-child {
	display: flex;/* 行内布局 */
	
}
.main-menu ul {
	list-style: none;/* 去掉默认黑点样式 */
	padding-inline: 0px;
}

.main-menu ul li {
	position: relative;
	padding: 10px 15px;
}

.main-menu ul li a {
	color: #4a4a4a;
	text-decoration: none;
	font-size: 18px;
}
.main-menu .dropdown>a:first-child,.about-bold a,.contact-bold a{
	font-weight: bold;
}
.main-menu ul li:hover > a:first-child {
	color: #5eb1b9;
}
/* Dropdown Menu */
.main-menu ul li .sub-menu{
	/* display: none; */
	position: absolute;
	background-color: #ffffff;
	top: 100%;
	left: 0;
	/* padding: 15px 0; */
	z-index: 1000;
	width: 240px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* 添加阴影 */
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.1s ease-out; /* 过渡时间控制缓慢展开 */
}

.main-menu ul li:hover .sub-menu{
	max-height: 400px;
}
.main-menu ul li:hover .sub-menu>li>a{
	padding:14px 10px;
}
.sub-menu {
	list-style: none;
}

.main-menu ul li .sub-menu li{
	padding:0px;
	transition: padding 0.3s ease-in-out;
}
.sub-menu li a {
	padding: 10px;
	display: block;
	transition: padding 0.3s ease-in-out;
}

.sub-menu li:hover a {
	color: #5eb1b9;
	padding-left: 16px;
}

.dropdown > a:first-child {
    font-weight: bold;
}

.header-actions {
	display: flex;
	align-items: center;
}

.header-action-btn {
	color: #fff;
	font-size: 18px;
	margin-right: 15px;
	text-decoration: none;
}

.header-action-btn:hover {
	color: #f4d03f;
}

/* 搜索框容器 */
@media (max-width: 430px) {
	.col-serch {
		display: none;
	}
}
.search-box {
	display: flex; /* 使用 Flexbox 布局 */
	align-items: center; /* 垂直居中对齐 */
	border: 1px solid #ccc; /* 边框 */
	padding: 5px; /* 内边距 */
	border-radius: 10px; /* 边框圆角 */
	max-width: 200px; /* 最大宽度 */
	/* border-radius: 20px 20px 20px 20px; */
}
		
/* 输入框 */
.search-box input {
	flex: 1; /* 使输入框占据剩余空间 */
	border: none; /* 移除输入框默认边框 */
	outline: none; /* 移除输入框聚焦时的边框 */
	padding: 5px; /* 内边距 */
	font-size: 16px; /* 字体大小 */
	width:100px;
	margin: 0 5px;
}
.search-style {
	font-size: 18px;
	color: #000;
}

/*小屏幕开关控件*/
.oncanvas-mobile-open {
	display: none;
	
}

/* Responsive Menu */
@media (max-width: 992px) {
	.header-mid {
		display: none;
	}
	
	/*小屏幕开关控件*/
	.oncanvas-mobile-open {
		display: flex;
		justify-content: center;
	}
}
/*小屏时按钮*/
.bar-btn {
	background: none; 
	border: none; 
	cursor: pointer;
	height: 25px;
}
/* 遮罩层样式 */
.overlay {
    display: none; /* 初始状态：隐藏 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色背景 */
    z-index: 5; /* 层级在侧边栏之下 */
    transition: opacity 0.6s ease; /* 遮罩层动画 */
    opacity: 0;
}
/* 遮罩层显示状态 */
.overlay.active {
    display: block;
    opacity: 1;
}
/*
侧边导航菜单栏
*/
/* 侧边栏样式 */
.offcanvas-mobile-close {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.sidebar-menu {
    position: fixed;
    top: 70px;
    left: -250px; /* 初始隐藏状态 */
    width: 250px;
    height: 100vh;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
	transition: left 1s ease; /* 动画效果 */
    z-index: 1000;
	overflow-y: auto;
	border-radius: 0 20px 0 0;
	overflow-y: scroll; /* 启用垂直滚动 */
	scrollbar-width: none; /* 隐藏滚动条 (适用于 Firefox) */
}
	
.sidebar-menu::-webkit-scrollbar {
	display: none; /* 隐藏滚动条 (适用于 Webkit 浏览器，如 Chrome 和 Edge) */
}

.sidebar-menu-main {
	margin-top:65px;
	background-color: #fff;
}
.sidebar-menu.active {
    left: 0px; /* 显示侧边栏 */
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-header {
    position: absolute; /* 绝对定位 */
    top: 10px;             /* 定位到父级的顶部 */
    right: 0;           /* 定位到父级的右侧 */
    padding: 10px;      /* 内边距调整 */
    cursor: pointer;    /* 鼠标悬停时显示为手型，表明是按钮 */
}

.sidebar-menu-main .menu-item {
    font-weight: bold;
}

.sidebar-menu ul {
    list-style: none;
    padding: 0;
}

.sidebar-menu ul li {
    margin: 10px 0;
}

.sidebar-menu li a {
	color: #4a4a4a;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px;
	border-radius: 4px;
	/* background-color: #4a4a4a; */
}

.sidebar-menu li a{
	padding-right: 25px;
}

.fa-solid {
	transition: transform 0.6s ease, opacity 0.6s ease; /* 平滑的旋转和透明度过渡 */
}

.dropdown.active .fa-solid {
    transform: rotate(180deg); /* 旋转180度使其变成“减号” */
    opacity: 1; /* 确保展开时图标完全可见 */
}

/* 二级菜单样式 */
.sidebar-menu-main .sub-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out; /* 过渡时间控制缓慢展开 */
    margin-top: 5px;
    padding-left: 15px;
    list-style: none;
}

/* 展开 */
.sidebar-menu .dropdown.active .sub-menu {
	max-height: 500px;
}
